doctype html
html(lang='en')
  include ./common/head.pug
  +head("Starter MVP")
  body
    header
      include ./common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Minimum Viable Landing Page
            p.lead NodeJS, Express app.
            p.lead.mb-4 Landing page and with a sales lead collector.
            //- when we submit the form, this is the path that will get called
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
        .row
          .col-md-6
            if leads
              h1 Leads
              table.table
                thead
                  tr
                    th(scope="col") Email
                    th(scope="col") Actions
                    th(scope="col")
                  tr
                tbody
                  for lead in leads
                    tr(id=lead.id)
                      td
                        span #{lead.email}
                      td
                        a(href=`/lead/${lead.id}`) Details
                      td
                        // deleteLead() is a JS function, loaded from a script below
                        button(onClick=`deleteLead('${lead.id}')`) Delete 
      // load the dependeent JS libs last
    include ./common/footer.pug
    +footer()
    script(src="/javascripts/lead.js")
